
.datapicker-wrap.text-field
    .text-field__name filter date dropdown
   
    input.qdatepicker.text-field__input-field(
        type="text"
        placeholder=''
        data-multiple-dates="2"
        data-range="true" 
        data-multiple-dates-separator=" - "
    ) 
    span.datapicker__arrow.material-icons expand_more